---
import PageLayout from "../layouts/PageLayout.astro"
---

<PageLayout>
	<div class="min-h-[50vh] flex flex-col justify-center items-center">
		Bienvenido al club de programación.
	</div>
</PageLayout>
