---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Bienvenido a club de Progra!</h1>
			<p>
				Este es un espacio dedicado a compartir tips sobre tecnología, con énfasis en el uso de la computadora para analizar datos, realizar gráficas, modelos matemáticos o implementar aplicaciones web. Sabemos que todo esto puede sonar confuso, pero es por esta razón que decidimos crear el club.
			</p>
			<p class="w-full text-center">
				<a href="/blog" class="outline p-2 mt-2 hover:bg-orange-700 hover:text-white">
					Leer el blog
				</a>
			</p>
		</main>
		<Footer />
	</body>
</html>
