---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";

const props = Astro.props;
const className = props["class"];
---

<header class={`p-2 ${className}`}>
	<nav class="gap-4">
		<h2 class="grow"><a href="/">{SITE_TITLE}</a></h2>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">Acerca</HeaderLink>
	</nav>
</header>
<style>
	header {
		margin: 0;
		background: white;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		color: var(--black);
	}
	nav a.active {
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
